body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.bottom{
    display: flex;
    align-items: center;
    gap:25px;
    
}
.buttons{
    display:flex;
    width:750px;
    justify-content: space-evenly;
}

button{
    margin-top: 50px;
    margin-bottom: 25px;
    width:100px;
    height:50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: bisque;
    font-weight: bold;

}

.container{
    --cols:1;
    display: grid;
    grid-template-columns: repeat(var(--cols),1fr);
    width : 750px;
    height : 750px;
    border :5px solid red;    
}

.grid{
    border:1px solid rgba(0, 0, 0, 0.1);
}

.hover-black{
    background-color: rgb(0, 0, 0);
}

